body {
  background-color: #6B7A8F;
  color: #FFFF;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

.page-container {
  margin: 10%;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.section {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-items: space-evenly;
}

.notes-container {
  margin-top: 20%;
}

.tasks-container {
  margin-top: 20%;
}

.time-container {
  margin-top: 30%;
  margin-bottom: 0;
  font-size: 72px;
}

.date-container {
  margin-top: 0;
  margin-bottom: 10%;
  font-size: 36px;
}

.textbox {
  width: 400px;
  height: 200px;
  padding: 2ch;
  margin: 1ch;
  box-shadow: none;
  border-style: dashed;
  border-width: 1px;
  border-radius: 1%;
  background-color: #6B7A8F;
  border-color: #bbc5d2;
  color: #d0d8e3;
  text-align: top;
  text-justify: top;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
  vertical-align: top;
}

.button {
  align-items: center;
  background-color: #5a6b81;
  border-radius: 24px;
  border-width: 0;
  box-sizing: border-box;
  color: #d0d8e3;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 36px;
  font-size: 14px;
  line-height: 1;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: transform;
  
}

.button:hover {
  transform: translateY(-2px);
}

.button:active {
  transform: translateY(2px);
}

#pomodoro-button {
  height: 48px;
  font-size: 18px;
  line-height: 1;
  padding-left: 16px;
  padding-right: 16px;
}