:root {
    --primary-color: #211D1E;
    --secondary-color: #7C7C7C;
    --tertiary-color: #393939;
    --quaternary-color: black;
    --next-color: black;

    --primary-text-color: #FFFFFF;
    --secondary-text-color: #7C7C7C;
    --button-text-color: #211D1E;
    
    --button-hover-color: white;
    --button-highlight-color: white;
}

/* Page theme */
body {
    margin: 0;
    padding: 0;
}
.test-container {
    background-color: salmon;
    width: 50vw;
    height: 50vh;
}
.page-theme {
    width: 100vw;
    height: 100vh;
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}
.page-container {
    display: grid;
    grid-template-columns: 31.25% 37.5% 31.25%;
    grid-template-rows: 16.66% auto 15% 12%;
}
textarea {
    resize: none;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border: none;
    /* overflow: hidden; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.text-area::-webkit-scrollbar {
    display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.text-area {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/* Theme button */
.block-theme {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
}
.theme-button {
    height: 35px;
    width: 35px;
    padding-left: 3%;
    padding-top: 2.5%;
    display: flex;
}
.theme-outer-circ {
    height: 100%;
    width: 100%;
    background-color: var(--tertiary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.theme-outer-circ:hover {
    background-color: white;
}
.theme-inner-circ {
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 75%;
    border-radius: 50%;
    background-color: var(--next-color);
}

/* Weather Button*/
.block-weather {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row-reverse;
}
.weather-container {
    display: flex;
    height: 35px;
    width: 120px;
    margin-top: 2.5%;
    margin-right: 5%;
    border-radius: 40px;
    border-color: var(--tertiary-color);
    border-style: solid;
    border-width: 4px;
    background-color: var(--quaternary-color);
    justify-content: center;
    align-items: center;
}
.weather-container:hover {
    border-color: var(--button-highlight-color);
}
.weather-temp {
    height: 30px;
    width: 50px;
    display: flex;
    flex-direction: row-reverse;
}
.weather-text {
    display: flex;
    align-items: center;
    justify-content: center;
}
.weather-icon {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: transparent;
}

/* Pomodoro Button */
.block-pomodoro {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.pomodoro-btn {
    display: flex;
    margin-top: 2.5%;
    justify-content: center;
}

/* clock */
.block-clock {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
}
.clock-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.clock-time {
    display: flex;
    font-size: 8rem;
    font-weight: bold;
    justify-content: center;
    color: white;
}
.clock-day {
    display: flex;
    font-size: 1.2rem;
    /* font-weight: bold; */
    justify-content: center;
    align-items: center;
}
.clock-date {
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text-color);
}

/* Generic Text Blocks */
.top-text-margin {
    height: 25%;
    width: 100%;
}
.block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}
.text-seperator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 1px;
    background-color: var(--tertiary-color);
    margin-top: 2%;
    margin-bottom: 2%;
}
.text-data {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.1rem;
    color: var(--secondary-text-color);
}

/* Notes */
.block-notes {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

/* Tasks */
.block-tasks {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}

.block-interactive {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    align-items: top;
    justify-content: center;
}
.interactive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.text-box {
    background-color: var(--primary-color);
    border-color: var(--button-highlight-color);
    color: var(--secondary-text-color);
}
.login-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.login-btn {
    background-color: var(--secondary-color);
}

/* Button 1 */
.block-btn1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-left: 3%;
    margin-top: 6%;
}

/* Quote Area */
.block-quote {
    display: flex;
    justify-content: center;
    text-justify: justify;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin-top: 2.5%;
    font-size: 20px;
    color: var(--secondary-text-color);
}

/* Button 2 */
.block-btn2 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    margin-top: 6%;
    margin-left: 70%;
}

/* Generic buttons */
.std-rounded-btn {
    font-size: 20px;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: var(--secondary-color);
    color: var(--button-text-color);
    border: none;
    text-align: center;
}

.std-rounded-btn:hover {
    background-color: var(--button-hover-color);
}

/* Make text unselectable */
.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}