/* Page theme */
body {
    margin: 0;
    padding: 0;
    /* font-family: ''; */
}

.page-theme {
    width: 100vw;
    height: 100vh;
    background-color: #211D1E;
    color: white;
}

.page-container {
    display: grid;
    grid-template-columns: 31.25% 37.5% 31.25%;
    grid-template-rows: 16.66% auto 15% 12%;
}

/* Theme button */
.block-theme {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}


/* Pomodoro Button */
.block-pomodoro {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.pomodoro-btn {
    display: flex;
    margin-top: 2.5%;
    justify-content: center;
}


/* Weather Button*/
.block-weather {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}


/* clock */
.block-clock {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: center;
}

.clock-time {
    display: flex;
    font-size: 8rem;
    font-weight: bold;
    justify-content: center;
}

.clock-day {
    display: flex;
    font-size: 1.2rem;
    /* font-weight: bold; */
    justify-content: center;
    align-items: center;
}

.clock-date {
    display: flex;
    font-size: 1.1rem;
    justify-content: center;
    align-items: center;
    color: #7C7C7C;
}

.top-text-margin {
    height: 25%;
    width: 100%;
}

.block-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Generic Text Blocks */
.text-title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.text-seperator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 1px;
    background-color: #393939;
    margin-top: 2%;
    margin-bottom: 2%;
}

.text-data {
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1.1rem;
    color: #7C7C7C;
}


/* Notes */
.block-notes {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}


/* Tasks */
.block-tasks {
    grid-column: 3 / 4;
    grid-row: 2 / 4;
}


/* Spotify Block - More in styles/spotify.css */
.block-spotify {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    align-items: top;
    justify-content: center;
}


/* Button 1 */
.block-btn1 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    margin-left: 3%;
    margin-top: 6%;
}


/* Quote Area */
.block-quote {
    display: flex;
    justify-content: center;
    text-justify: justify;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    margin-top: 2.5%;
    font-size: 20px;
    color: #393939;
}


/* Button 2 */
.block-btn2 {
    grid-column: 3 / 4;
    grid-row: 4 / 5;
    margin-top: 6%;
    margin-left: 70%;
}

/* Generic buttons */
.std-rounded-btn {
    font-size: 20px;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: #7C7C7C;
    color: #211D1E;
    border: none;
    text-align: center;
}

.std-rounded-btn:hover {
    background-color: #FFFFFF;
}