.spotify-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 60px;
    width: 100%;
    height: 100%;
    min-width: 350px;
    max-width: 450px;
    min-height: 75px;
    max-height: 90px;

    background-color: #393939;
}

.img-slot {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    margin-left: 12px;
    margin-right: 12px;
}

.img-circ {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.spotify-mid {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 70%
}

.spotify-controller {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 3px;
}

.spotify-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    
    background-color: #211D1E;
    color: transparent;
    border: none;
    text-align: center; 
    border-radius: 40px;
}

.spotify-btn:hover {
    background-color: #7C7C7C;
    color: white;
}

.spotify-track {
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    color: white;

    white-space: nowrap;
    overflow: hidden;
}

.spotify-title {
    font-weight: bold;
}

.spotify-progress {
    justify-content: center;
    align-items: center;
    border: none;
    text-align: center;
    font-weight: bold;
}

